@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(250, 243, 235, var(--gradient-opacity));  /* #FAF3eb */
  --secondary-color: rgba(255, 169, 133, var(--gradient-opacity)); /* #FFA985 */
  --accent-color: rgba(227, 104, 87, var(--gradient-opacity));    /* #e36857ff */
  // --primary-color: rgba(147, 112, 219, var(--gradient-opacity));
  // --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  // --accent-color: rgba(180, 170, 220, var(--gradient-opacity));
}
